<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>列表渲染</title>
  <script src="https://unpkg.com/vue/dist/vue.js" charset="utf-8"></script>
</head>
<body>
  <ul id="example-1">
    <li v-for="item in items">
      {{ item.message }}
    </li>
  </ul>

  <ul id="example-2">
    <li v-for="(item, index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>
  <!--<template>标签渲染多个模块-->
  <ul id="example-3">
    <template v-for="item in items">
      <li>{{ item.message}}</li>
      <li>----</li>
    </template>
  </ul>
  <!--对象迭代-->
  <ul id="example-4">
    <li v-for="value in object">
      {{ value }}
    </li>
  </ul>
  <!--提供第二个参数-->
  <ul id="example-5">
    <li v-for="(value, key) in  object">
      {{ key }} : {{ value }}
    </li>
  </ul>
  <!--迭代整数-->
  <ul id='example-6'>
    <li v-for="n in 12">{{ n }}</li>
  </ul>
  <!--todo list-->
  <div id = "todo-list-example">
    <input
      v-modal="newTodoText"
      v-on:keyup.enter="addNewTodo"
      placeholder="add a todo"
    >
    <ul>
      <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:title="todo"
      v-on:remove="todos.splice(index, 1)"
      ></li>

    </ul>
  </div>
  <script type="text/javascript">
    var example1 = new Vue({
      el: "#example-1",
      data: {
        items: [
          {message: 'for'},
          {message: 'bar'}
        ]
      }
    })

    var example2 = new Vue({
      el: '#example-2',
      data: {
        parentMessage: 'parent',
        items: [
          {message: 'bar'},
          {message: 'for'}
        ]
      }
    })

    var example3 = new Vue({
      el: '#example-3',
      data: {
        items: [
          {message: 'for'},
          {message: 'bar'}
        ]
      }
    })

    var example4 = new Vue({
      el: '#example-4',
      data: {
        object: {
          FirstName: 'Jone',
          LastName: 'Doe',
          age: '30'
        }
      }
    })

    var example5 = new Vue({
      el: '#example-5',
      data: {
        object: {
          FirstName : 'Jone',
          LastName : 'Doe',
          age: '30'
        }
      }
    })

    var example6 = new Vue({
      el: '#example-6'
    })

    Vue.component('todo-item', {
      template: '\
        <li>\
          {{ title }}\
          <button v-on:click="$emit(\'remove\')">X</button>\
        </li>\
      ',
      props: ['title']
    })

    new Vue({
      el: '#todo-list-example',
      data: {
        newTodoText: '',
        todos: [
          'Do the dishes',
          'Take out the trash',
          'Mow the lawn'
        ]
      },
      methods: {
        addNewTodo: function(){
          this.todos.push(this.newTodoText)
          this.newTodoText=''
        }
      }
    })
  </script>
</body>
</html>
