<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>条件渲染</title>
  <script src="http://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app-1">
    <p v-if="seen">现在你看到我了</p>
    <template v-if="ok">
      <h1>Vus.js</h1>
      <p>javascript</p>
    </template>
  </div>
  <div id="app-2">
    <div v-if="Math.random()>0.5">
      Sorry
    </div>
    <div v-else>
      Not sorry
    </div>
  </div>
  <div id="app-3">
    <div v-if="type === 'a'">A</div>
    <div v-else-if="type ==='b'">B</div>
    <div v-else-if="type ==='c'">C</div>
    <div v-else>Not A/B/C</div>
  </div>
  <!--使用key控制元素的可重用-->
  <div id="app-4">
    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address">
    </template>
    <button>Toggle login type</button>
  </div>

  <script type="text/javascript">
    var app1 = new Vue({
      el: "#app-1",
      data: {
        seen: true,
        ok: true
      }
    })
    var app2 = new Vue({
      el: "#app-2"
    })
    var app3 = new Vue({
      el: "#app-3",
      data: {
        type: 'a'
      }
    })
    var app4 = new Vue({
      el: "#app-4",
      data: {
        loginType: "username"
      }
    })
  </script>
</body>
</html>
